Ingesting Data Using Pandas

In [18]:
import pandas as pd

#Load CSV data
csv_data = pd.read_csv('branch_sales1.csv')

#Load JSON data
json_data = pd.read_json('branch_sales1.json')

#Load Excel data
excel_data = pd.read_excel('branch_sales1.xlsx')

#Preview the data
print(csv_data.head())
print()
print(json_data.head())
print()
print(excel_data.head())

     Branch        Date      Item  Quantity   Price  TotalSales
0  New York  2023-09-01   Printer         2  925.03     1850.06
1   Chicago  2023-09-02     Mouse         1  231.07      231.07
2  New York  2023-09-03  Keyboard         3  997.98     2993.94
3  New York  2023-09-04   Monitor         7  535.32     3747.24
4   Chicago  2023-09-05  Keyboard         1  804.66      804.66

     Branch       Date      Item  Quantity   Price  TotalSales
0  New York 2023-09-01   Printer         2  925.03     1850.06
1   Chicago 2023-09-02     Mouse         1  231.07      231.07
2  New York 2023-09-03  Keyboard         3  997.98     2993.94
3  New York 2023-09-04   Monitor         7  535.32     3747.24
4   Chicago 2023-09-05  Keyboard         1  804.66      804.66

     Branch       Date      Item  Quantity   Price  TotalSales
0  New York 2023-09-01   Printer         2  925.03     1850.06
1   Chicago 2023-09-02     Mouse         1  231.07      231.07
2  New York 2023-09-03  Keyboard         3  997.98     2993.94
3  New York 2023-09-04   Monitor         7  535.32     3747.24
4   Chicago 2023-09-05  Keyboard         1  804.66      804.66

 Data Cleaning

In [19]:
#Convert 'Date' to datetime
csv_data['Date'] = pd.to_datetime(csv_data['Date'])
json_data['Date'] = pd.to_datetime(json_data['Date'])
excel_data['Date'] = pd.to_datetime(excel_data['Date'])

#Fill missing values with defaults (e.g., mean for numeric columns)
csv_data.fillna(csv_data.mean(), inplace=True)
json_data.fillna(json_data.mean(), inplace=True)
excel_data.fillna(excel_data.mean(), inplace=True)

#Remove duplicates if any
csv_data.drop_duplicates(inplace=True)
json_data.drop_duplicates(inplace=True)
excel_data.drop_duplicates(inplace=True)

#Ensure 'Quantity' and 'Price' are numeric
csv_data['Quantity'] = pd.to_numeric(csv_data['Quantity'])
json_data['Quantity'] = pd.to_numeric(json_data['Quantity'])
excel_data['Quantity'] = pd.to_numeric(excel_data['Quantity'])

C:\Users\rupik\anaconda3\envs\Tensorflow\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  import sys
C:\Users\rupik\anaconda3\envs\Tensorflow\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

C:\Users\rupik\anaconda3\envs\Tensorflow\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  if __name__ == '__main__':

Data Transformation

In [20]:
#Combine datasets into one DataFrame
combined_data = pd.concat([csv_data, json_data, excel_data], ignore_index=True)

#Standardize column names and data types if necessary
combined_data.columns = ['Branch', 'Date', 'Item', 'Quantity', 'Price', 'TotalSales']

#Recalculate TotalSales if necessary
combined_data['TotalSales'] = combined_data['Quantity'] * combined_data['Price']

Data Standardization

In [25]:
#Ensure consistency in data types
combined_data['Price'] = combined_data['Price'].astype(float)
combined_data['Quantity'] = combined_data['Quantity'].astype(int)
combined_data['TotalSales'] = combined_data['TotalSales'].astype(float)

#Final data preview
print(combined_data.head())

#Drop the duplicates
combined_data = combined_data.drop_duplicates()

#Save the unified data into a standard format, e.g., CSV
combined_data.to_csv('unified_sales_data.csv', index=False)
combined_data.shape

     Branch       Date      Item  Quantity   Price  TotalSales
0  New York 2023-09-01   Printer         2  925.03     1850.06
1   Chicago 2023-09-02     Mouse         1  231.07      231.07
2  New York 2023-09-03  Keyboard         3  997.98     2993.94
3  New York 2023-09-04   Monitor         7  535.32     3747.24
4   Chicago 2023-09-05  Keyboard         1  804.66      804.66

(30, 6)